extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let earbudsid = toShow._id 
    - let earbuds_company = toShow.earbuds_company 
    - let earbuds_cost = toShow.earbuds_cost 
    - let earbuds_Colour = toShow.earbuds_Colour 
    - let actionid = "/resource/earbuds/" + earbudsid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='earbudsAttr mr-3') earbuds ID is: 
        div #{earbudsid} 
      div.row 
        div(class='earbudsAttr mr-3') earbuds company  is: 
        div #{earbuds_company} 
      div.row 
        div(class='earbudsAttr mr-3') earbuds Cost  is: 
        div #{earbuds_cost} 
      div.row 
        div(class='earbudsAttr mr-3') earbuds colour  is: 
        div #{earbuds_Colour} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the costume collection 
      window.location.href='/earbuds' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      // Don't need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/earbuds' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    }